table {
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
  border-radius:10px;
  border: 3px dashed purple;
}
thead th:nth-child(1){
width:25%
}
 thead th:nth-child(2){
width:20%
}
thead th:nth-child(3){
width:10%
}
thead th:nth-child(4){
width:35%
}
   th,td{
padding:20px;
}
th {
letter-spacing:2px;
}
td {
text-align:center;
}
th
{
background-color:#4867aa;
}
tr:hover
{
background-color:red;
}
caption
{
border: solid 02px;
}   
